<%= form_with(model: wish_list, local: true) do |form| %>
  <% if wish_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wish_list.errors.count, "error") %> prohibited this wish_list from being saved:</h2>

      <ul>
        <% wish_list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :library_book_list_id %>
    <%= form.text_field :library_book_list_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
