<h1>Student Current Borrow Lists</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th class="col text-center">Student</th>
    <th class="col text-center">Book</th>
    <th class="col text-center">Checked Out Time</th>
    <th class="col text-center" colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @student_current_borrow_lists.each do |student_current_borrow_list| %>

    <% if librarian_signed_in? %>
      <% if Book.find(student_current_borrow_list.book_id).library_id == current_librarian.library_id %>
        <tr>
          <td class="text-center"><%= Student.find(student_current_borrow_list.student_id).name %></td>
          <td class="text-center"><%= Book.find(student_current_borrow_list.book_id).title %></td>
          <td class="text-center"><%= student_current_borrow_list.created_at %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td class="text-center"><%= student_current_borrow_list.student_id %></td>
        <td class="text-center"><%= student_current_borrow_list.book_id %></td>
      </tr>
    <% end %>


  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student Current Borrow List', new_student_current_borrow_list_path %>
