<%= form_with(model: @student, local: true) do |form| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% @student.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :education_level %>
    <%= form.number_field :education_level %>
  </div>

  <div class="form-group">
    <%= form.label :university_id %>
    <%= select("student", "university_id", University.all.collect{ |c| [ c.name, c.id] }) %>
  </div>

  <div class="form-group">
    <%= form.label :education_level %><br />
    <%= form.label :education_level, "Undergraduate", :value => 1  %>
    <%= form.radio_button :education_level, 1 %>
    <%= form.label :education_level, "Graduate", :value => 2 %>
    <%= form.radio_button :education_level, 2 %>
    <%= form.label :education_level, "Phd", :value => 3 %>
    <%= form.radio_button :education_level, 3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
