<p id="notice"><%= notice %></p>

<h1>Library Book Lists</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col text-center">Number</th>
      <th class="col text-center">Book</th>
      <th class="col text-center">Library</th>
      <th class="col text-center">Hold number</th>
      <th class="col text-center" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @library_book_lists.each do |library_book_list| %>
      <tr>
        <td class="text-center"><%= library_book_list.number %></td>
        <td class="text-center"><%= Book.find(library_book_list.book_id).title %></td>
        <td class="text-center"><%= Library.find(Book.find(library_book_list.book_id).library_id).name %></td>
        <td class="text-center"><%= library_book_list.hold %></td>
        <td class="text-center"><%= link_to 'Show', library_book_list %></td>
        <td class="text-center"><%= link_to 'Edit', edit_library_book_list_path(library_book_list) %></td>
        <td class="text-center"><%= link_to 'Destroy', library_book_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Library Book List', new_library_book_list_path %>
