<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @library_book_list.number %>
</p>

<p>
  <strong>Book:</strong>
  <%= @library_book_list.book_id %>
</p>

<%= link_to 'Edit', edit_library_book_list_path(@library_book_list) %> |
<%= link_to 'Back', library_book_lists_path %>
