<p id="notice"><%= notice %></p>

<h1>Hold Lists</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col text-center">Student</th>
      <th class="col text-center">Book</th>
      <th class="col text-center" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hold_lists.each do |hold_list| %>
      <tr>
        <td class="text-center"><%= Student.find(hold_list.student_id).name %></td>
        <td class="text-center"><%= Book.find(hold_list.book_id).name %></td>
        <td class="text-center"><%= link_to 'Show', hold_list %></td>
        <td class="text-center"><%= link_to 'Edit', edit_hold_list_path(hold_list) %></td>
        <td class="text-center"><%= link_to 'Destroy', hold_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hold List', new_hold_list_path %>
