<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @hold_list.student_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @hold_list.book_id %>
</p>

<%= link_to 'Edit', edit_hold_list_path(@hold_list) %> |
<%= link_to 'Back', hold_lists_path %>
