<p id="notice"><%= notice %></p>

<h1>Libraries</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col text-center">Name</th>
      <th class="col text-center">University</th>
      <th class="col text-center">Location</th>
      <th class="col text-center">Max day can borrow</th>
      <th class="col text-center">Overdue fine</th>
      <th class="col text-center" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libraries.each do |library| %>
      <tr>
        <td class="text-center"><%= library.name %></td>
        <td class="text-center"><%= University.find(library.university_id).name %></td>
        <td class="text-center"><%= library.location %></td>
        <td class="text-center"><%= library.max_day_can_borrow %></td>
        <td class="text-center"><%= library.overdue_fine %></td>
        <td class="text-center"><%= link_to 'Show', library %></td>
        <td class="text-center"><%= link_to 'Edit', edit_library_path(library) %></td>
        <td class="text-center"><%= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Library', new_library_path %>
