<%= form_for @book, html: {multipart: true} do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :isbn %>
    <%= form.text_field :isbn %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <% if !current_librarian %>
    <div class="field">
      <%= form.label :university_id %>
      <%= form.collection_select :university_id, University.order(:name), :id, :name, include_blank: true %>
    </div>

    <div class="field">
      <%= form.label :library_id %>
      <%= form.grouped_collection_select :library_id, University.order(:name), :libraries, :name, :id, :name, include_blank: true %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :is_special_collection %><br/>
    <%= form.label :is_special_collection, "Yes", :value => 1 %>
    <%= form.radio_button :is_special_collection, 1 %>
    <%= form.label :is_special_collection, "No", :value => 0 %>
    <%= form.radio_button :is_special_collection, 0 %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
