<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col text-center">Isbn</th>
      <th class="col text-center">Title</th>
      <th class="col text-center">University</th>
      <th class="col text-center">Library</th>
      <th class="col text-center">Is special collection</th>
      <th class="col text-center" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td class="text-center"><%= book.isbn %></td>
        <td class="text-center"><%= book.title %></td>
        <td class="text-center"><%= University.find(book.university_id).name %></td>
        <td class="text-center"><%= Library.find(book.library_id).name %></td>
        <td class="text-center"><%= book.is_special_collection %></td>
        <td class="text-center"><%= link_to 'Show', book %></td>
        <td class="text-center"><%= link_to 'Edit', edit_book_path(book) %></td>
        <td class="text-center"><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
