<p id="notice"><%= notice %></p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>University:</strong>
  <%= University.find(@book.university_id).name %>
</p>

<p>
  <strong>Library:</strong>
  <%= Library.find(@book.library_id).name %>
</p>

<p>
  <strong>Is special collection:</strong>
  <%= @book.is_special_collection %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
