<p id="notice"><%= notice %></p>

<h1>Borrow Histories</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col text-center">Student</th>
      <th class="col text-center">Book</th>
      <th class="col text-center" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @borrow_histories.each do |borrow_history| %>
      <tr>
        <td class="text-center"><%= Student.find(borrow_history.student_id) %></td>
        <td class="text-center"><%= Book.find(borrow_history.book_id) %></td>
        <td class="text-center"><%= link_to 'Show', borrow_history %></td>
        <td class="text-center"><%= link_to 'Edit', edit_borrow_history_path(borrow_history) %></td>
        <td class="text-center"><%= link_to 'Destroy', borrow_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Borrow History', new_borrow_history_path %>
