<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= Student.find(@borrow_history.student_id).name %>
</p>

<p>
  <strong>Book:</strong>
  <%= Book.find(@borrow_history.book_id).title %>
</p>

<p>
  <strong>Borrow Date:</strong>
  <%= @borrow_history.created_at %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @borrow_history.created_at + Library.find(Book.find(@borrow_history.book_id).library_id).max_day_can_borrow * 86400 %>
</p>


<%= link_to 'Edit', edit_borrow_history_path(@borrow_history) %> |
<%= link_to 'Back', borrow_histories_path %>
