<div class="navbar navbar-default navbar-static-top">
  <div class="container">

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">RubyP2</a>
    <% if current_student %>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Link1", "/path1" %></li>
          <li><%= link_to "Link2", "/path2" %></li>
          <li><%= link_to "logout", destroy_student_session_path, method: :delete %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "#{current_student.name}" %></li>
          <li>
            <%= link_to("logout", destroy_student_session_path, method: :delete) %>
          </li>
        </ul>
    <% end %>

    </div>


  </div>
</div>
</div>