<div class="navbar navbar-default navbar-static-top">
  <div class="container">

    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Library Management System</a>
    <!--    =================================================================-->
    <% if current_student %>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "Show All Libraries", "/s/libraries" %></li>
          <li><%= link_to "Show All Books", "/s/books" %></li>
          <li><%= link_to "My Wish List", "/s/wish_list", method: :get %></li>
          <li><%= link_to "My Current Books", s_current_borrowed_list_path, method: :get %></li>
          <li><%= link_to "My Request", s_request_list_path, method: :get %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to current_student.name, "/students/edit" %></li>
          <li><%= link_to("logout", destroy_student_session_path, method: :delete) %></li>

        </ul>
      </div>
    <% end %>
      <!--    =================================================================-->
    <% if current_librarian && current_librarian.is_approved == 1 %>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
<!--          <li><%#= link_to "Edit library", "/libraries" + current_librarian.library_id.to_s + "/edit", method: :get %></li>-->
          <li><%= link_to "Books", books_path, method: :get %></li>
<!--          <li><%#= link_to "Book stock", "", method: :get %></li>-->
<!--          <li><%#= link_to "Hold Request", s_current_borrowed_list_path, method: :get %></li>-->
<!--          <li><%#= link_to "Borrowing History", s_request_list_path, method: :get %></li>-->
        </ul>

        <ul class="nav navbar-nav navbar-right">
<!--          <li><%#= link_to current_student.name, "/students/edit" %></li>-->
          <li><%= link_to("logout", destroy_librarian_session_path, method: :delete) %></li>

        </ul>
      </div>
    <% end %>

    <% if current_admin %>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to "University", universities_path, method: :get %></li>
          <li><%= link_to "Library", libraries_path, method: :get %></li>
          <li><%= link_to "Book", books_path, method: :get %></li>
          <li><%= link_to "Book Stock", library_book_lists_path, method: :get %></li>
<!--          <li><%#= link_to "Borrow History", "/borrow_histories" %></li>-->
          <li><%= link_to "Librarians", librarians_path %></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <li><%= link_to "Admin", "/admins/edit" %></li>
          <li>
            <%= link_to("logout", destroy_admin_session_path, method: :delete) %>
          </li>
        </ul>
      </div>

    <% end %>

  </div>
</div>
</div>